<h1>here you can have a look to our gyms around the world</h1>


<% @gyms.each do |gym| %>
<ul>
  <li> <%= gym.name %>  </li>

 <li><%= gym.description %> </li>
 <li> <%= gym.pricing %></li>
</ul>

 <% if policy(gym).edit? %>
   <%= link_to "Update", edit_gym_path(gym) %>
  <% end %>


<% end %>
